
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
span{
  color: orange;
}
.alvi1{
  display: flex;
  background-image: url(top-banner.png);
  background-repeat: no-repeat;  
}
#al1{
  padding-right: 15vw;
  padding-left: 2.5vw;
}
/* #al1 a{
  display: inline-block;
  background-color: rgb(240, 139, 121);
  text-decoration: none;
  height: 7.5vh;
  width: 12.5vw;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  padding-top: 2.5vh;
  border: 5px solid rgb(240, 139, 121);
  border-radius: 50px;
} */
#btn {
  text-decoration: none;
  padding:10px 40px; 
  background-image: linear-gradient(orange, tomato);
  color: wheat;
  font-weight: bolder;
  border-radius: 5px;
}
#al3 img{
  height: 80vh;
  width: 40vw;
}
#al4 img{
  height: 80vh;
  width: 40vw;
}
#al4{
  padding-right: 9vw;
  padding-left: 2.5vw;
}
.alvi2{
  padding-top: 15vh;
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
background-position: right;
  display: flex;
}
.alvi3{
  display: inline-block;
 background-image:url(exp-bg.png);
  background-repeat: no-repeat;
}
.alvi5{
  display: flex;
  padding-top: 10vh;
}
h3{
  color:orange;
}
.alvi4{
  color:slategray;
}
#al6{
  background-image: linear-gradient(rgb(0, 255, 234), rgb(206, 255, 71));
height: 50%;
width: 50%;
border: 5px solid rgb(0, 255, 234);
border-radius: 50px;
text-align: center;
margin: 5vh;
padding-left: 2.5vw;
padding-right: 2.5vw;
}
#al7{
  background-image: linear-gradient(orange, tomato);
border-radius: 50px;
border: 5px solid orange;
height: 50%;
width: 50%;
text-align: center;
margin: 5vh;
padding-top: 2vh;
padding-bottom: 5vh;
padding-left: 5vw;
padding-right: 5vw;
}
#bd{
  color: brown;
}